<div class="flex flex-col flex-auto md:w-160 md:min-w-160 m-6">
    <ng-container *ngIf="gerencia$ | async as gerencia">
        <span class="p-4 text-primary-600">
            Gerencia
        </span>
        <div class="m-4">
            <div>
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Empresa</mat-label>
                    <mat-select [value]="''"
                        [(ngModel)]="gerencia.empresa"
                        (selectionChange)="updateGerenciaDetails(gerencia)">
                        <mat-option [value]="''">Seleccione una empresa</mat-option>
                        <mat-option [value]="'bci'">Bci Seguros</mat-option>
                        <mat-option [value]="'zenit'">Zenit</mat-option>
                        <mat-option [value]="'vida'">Bci Vida</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <br />
            <div>
                <input mat-input
                    class="w-full p-2 text-2xl"
                    [placeholder]="'Ingrese el nombre de la gerencia'"
                    [(ngModel)]="gerencia.nombre"
                    (input)="updateGerenciaDetails(gerencia)" />
            </div>

            <!-- Subgerencias -->
            <ng-container *ngIf="gerencia.id">
                <div class="mx-2 mt-4 space-y-1.5 border p-5">
                    <h5 class="text-primary-500">Subgerencias</h5>
                    <ng-container *ngFor="
                            let subgerencia of gerencia.subgerencias;
                            index as i;
                            trackBy: trackByFn
                        ">
                        <div class="group flex items-center">
                            <input class="w-full px-1 py-0.5"
                                [placeholder]="'Subgerencia'"
                                [(ngModel)]="subgerencia.nombre"
                                (input)="
                                    updateSubgerenciaOnGrencia(
                                        gerencia,
                                        subgerencia
                                    )
                                " />
                            <mat-icon class="
                                    hidden
                                    group-hover:flex
                                    ml-auto
                                    icon-size-5
                                    cursor-pointer
                                "
                                [svgIcon]="'heroicons_solid:x'"
                                (click)="
                                    removeSubgerenciaFromGerencia(gerencia, i)
                                "></mat-icon>
                        </div>
                    </ng-container>
                    <div class="flex items-center">
                        <mat-icon class="-ml-0.5 icon-size-5 text-hint"
                            [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                        <input class="w-full ml-1.5 px-1 py-0.5"
                            [placeholder]="'Nueva subgerencia'"
                            (keydown.enter)="
                                addSubgerenciaOnGerencia(
                                    gerencia,
                                    newTaskInput.value
                                );
                                newTaskInput.value = ''
                            "
                            #newTaskInput />
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="!gerencia.id">
                <div class="flex items-center justify-end mt-4">
                    <!-- Save -->
                    <button mat-flat-button
                        [color]="'primary'"
                        [disabled]="!gerencia.nombre"
                        (click)="crearGerencia(gerencia)">
                        Guardar
                    </button>
                </div>
            </ng-container>

            <ng-container *ngIf="gerencia.id">
                <div class="flex items-center justify-between mt-4">
                    <div class="flex items-center space-x-2">
                    </div>
                    <button mat-flat-button
                        matDialogClose>
                        Cerrar
                    </button>
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>