<div class="flex items-center">


    <div class="flex flex-col p-3">
        <div class="text-lg font-medium">Área: {{ area.nombre }}</div>
        <div class="font-medium text-sm">
            {{area.responsable?.name || 'sin responsable'}}
        </div>
    </div>
    <div class="ml-auto -mt-2">
        <button class="ml-auto"
            mat-icon-button
            [matMenuTriggerFor]="conversationHeaderMenu">
            <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
            <mat-menu #conversationHeaderMenu>

                <button (click)="agregarServicio()"
                    mat-menu-item>
                    <mat-icon [svgIcon]="'heroicons_outline:cog'"></mat-icon>
                    Agregar servicio
                </button>

                <button (click)="editar()"
                    mat-menu-item>
                    <mat-icon [svgIcon]="'heroicons_outline:pencil'"></mat-icon>
                    Editar
                </button>

                <button (click)="eliminar()"
                    mat-menu-item>
                    <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                    Eliminar
                </button>
            </mat-menu>
        </button>
    </div>
</div>




<div class="flex flex-col p-2 lg:p-6">
    <div class="grid gap-8">
        <ng-container *ngFor="let cadaServicio of area.servicios; let i = index">
            <div class="relative flex flex-col flex-auto p-1 lg:p-6 pr-3 pb-3 rounded-2xl shadow overflow-hidden bg-card    dark:border">
                <gerencias-servicio [gerencia]="gerencia"
                    [gerenciard]="gerenciard"
                    [subgerencia]="subgerencia"
                    [area]="area"
                    [servicio]="cadaServicio">
                </gerencias-servicio>
            </div>
        </ng-container>
    </div>
</div>