<div class="flex flex-col md:min-w-160 max-h-screen -m-6">


    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Nueva Persona</div>
        <button mat-icon-button
            matDialogClose
            [tabIndex]="-1">
            <mat-icon class="text-current"
                [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <form [formGroup]="form"
        (ngSubmit)="onSubmit()"
        class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto">

        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput
                [formControlName]="'name'">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Correo</mat-label>
            <input matInput
                [formControlName]="'email'">
        </mat-form-field>


        <!-- Actions -->
        <div class="flex flex-col sm:flex-row sm:items-center justify-between mt-4 sm:mt-6">
            <div>

            </div>
            <div class="flex items-center mt-4 sm:mt-0">
                <!-- Save as draft -->
                <button class="order-first sm:order-last"
                    type="submit"
                    mat-flat-button
                    [color]="'primary'">
                    Guardar
                </button>
            </div>

        </div>
    </form>
</div>