<div class="flex flex-0 items-center justify-between h-16 pt-10 pr-3 sm:pr-5 pl-6 sm:pl-8">
    <div class="text-lg font-medium">Gerencia R2: {{ gerenciard.nombre }} ({{gerenciard.responsable?.name || 'sin responsable'}})</div>
    <button class="ml-auto"
        mat-icon-button
        [matMenuTriggerFor]="conversationHeaderMenu">
        <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
        <mat-menu #conversationHeaderMenu>
            <button (click)="agregarSubGerencia()"
                mat-menu-item>
                <mat-icon [svgIcon]="'heroicons_outline:view-grid'"></mat-icon>
                Agregar subgerencia
            </button>
            <button (click)="agregarArea()"
                mat-menu-item>
                <mat-icon [svgIcon]="'heroicons_outline:view-grid-add'"></mat-icon>
                Agregar área
            </button>

            <button (click)="editar()"
                mat-menu-item>
                <mat-icon [svgIcon]="'heroicons_outline:pencil'"></mat-icon>
                Editar
            </button>

            <button (click)="eliminar()"
                mat-menu-item>
                <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                Eliminar
            </button>

        </mat-menu>
    </button>
</div>

<div class="flex flex-col p-6">
    <div class="grid gap-8">
        <ng-container *ngFor="let cadaSubGerencia of gerenciard.subgerencias; let i = index">
            <div class="mt-2 rounded-xl bg-gray-500 bg-opacity-12 dark:bg-transparent dark:border">
                <gerencias-subgerencia [gerencia]="gerencia"
                    [gerenciard]="gerenciard"
                    [subgerencia]="cadaSubGerencia"></gerencias-subgerencia>
            </div>
        </ng-container>

        <ng-container *ngFor="let cadaArea of gerenciard.areas; let i = index">
            <div class="mt-2 rounded-xl bg-gray-500 bg-opacity-12 dark:bg-transparent dark:border">
                <gerencias-area [gerencia]="gerencia"
                    [gerenciard]="gerenciard"
                    [area]="cadaArea">
                </gerencias-area>
            </div>
        </ng-container>
    </div>
</div>