<div class="flex items-center">

    <div class="flex flex-col p-3">
        <div class="text-lg font-medium">Gerencia R2: {{ gerenciard.nombre }}</div>
        <div class="font-medium text-sm">
            {{gerenciard.responsable?.name || 'sin responsable'}}
        </div>
    </div>
    <div class="ml-auto -mt-2">
        <button class="ml-auto"
            mat-icon-button
            [matMenuTriggerFor]="conversationHeaderMenu">
            <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
            <mat-menu #conversationHeaderMenu>
                <button (click)="agregarSubGerencia()"
                    mat-menu-item>
                    <mat-icon [svgIcon]="'heroicons_outline:view-grid'"></mat-icon>
                    Agregar subgerencia
                </button>
                <button (click)="agregarArea()"
                    mat-menu-item>
                    <mat-icon [svgIcon]="'heroicons_outline:view-grid-add'"></mat-icon>
                    Agregar área
                </button>

                <button (click)="editar()"
                    mat-menu-item>
                    <mat-icon [svgIcon]="'heroicons_outline:pencil'"></mat-icon>
                    Editar
                </button>

                <button (click)="eliminar()"
                    mat-menu-item>
                    <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                    Eliminar
                </button>

            </mat-menu>
        </button>
    </div>

</div>

<div class="flex flex-col p-2 lg:p-6">
    <div class="grid gap-8">
        <ng-container *ngFor="let cadaSubGerencia of gerenciard.subgerencias; let i = index">
            <div class="flex flex-col flex-auto p-1 lg:p-6 pr-1 lg:pr-3 pb-1 lg:pr-3 rounded-2xl shadow overflow-hidden bg-gray-500 bg-opacity-12 dark:bg-transparent dark:border">
                <gerencias-subgerencia [gerencia]="gerencia"
                    [gerenciard]="gerenciard"
                    [subgerencia]="cadaSubGerencia"></gerencias-subgerencia>
            </div>
        </ng-container>

        <ng-container *ngFor="let cadaArea of gerenciard.areas; let i = index">
            <div class="flex flex-col flex-auto p-1 lg:p-6 pr-1 lg:pr-3 pb-1 lg:pr-3 rounded-2xl shadow overflow-hidden bg-gray-500 bg-opacity-12 dark:bg-transparent dark:border">
                <gerencias-area [gerencia]="gerencia"
                    [gerenciard]="gerenciard"
                    [area]="cadaArea">
                </gerencias-area>
            </div>
        </ng-container>
    </div>
</div>