<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">


    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Nueva campaña</div>
        <button mat-icon-button
            matDialogClose
            [tabIndex]="-1">
            <mat-icon class="text-current"
                [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <form [formGroup]="form"
        (ngSubmit)="onSubmit()"
        class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto">

        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput
                [formControlName]="'nombre'">
        </mat-form-field>


        <mat-form-field>
            <mat-label>Encuesta</mat-label>
            <mat-select [formControlName]="'encuestaId'">
                <mat-option [value]="''">Seleccione</mat-option>
                <ng-container *ngFor="let encuesta of encuestas; trackBy: trackByFn">
                    <mat-option [value]="encuesta.id">{{encuesta.nombre}}</mat-option>
                </ng-container>

            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Fecha límite</mat-label>
            <mat-icon matPrefix
                class="hidden sm:flex icon-size-5"
                [svgIcon]="'heroicons_outline:flag'"></mat-icon>
            <input matInput
                [matDatepicker]="fechaLimiteDatepicker"
                [formControlName]="'fechaLimite'"
                [placeholder]="'Fecha límite'">
            <mat-datepicker-toggle matSuffix
                [for]="fechaLimiteDatepicker">
            </mat-datepicker-toggle>
            <mat-datepicker #fechaLimiteDatepicker></mat-datepicker>
        </mat-form-field>

        <!-- Actions -->
        <div class="flex flex-col sm:flex-row sm:items-center justify-between mt-4 sm:mt-6">
            <div>

            </div>
            <div class="flex items-center mt-4 sm:mt-0">
                <!-- Save as draft -->
                <button class="order-first sm:order-last"
                    type="submit"
                    mat-flat-button
                    [color]="'primary'">
                    Guardar
                </button>
            </div>

        </div>
    </form>
</div>