<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto"
    cdkScrollable>




    <div class="relative flex-0 py-8 px-4 sm:p-16 overflow-hidden bg-gray-800 dark">
        <div class="z-10 relative flex flex-col items-center">
            <div class="mt-1 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">
                Campañas
            </div>
        </div>
    </div>


    <!-- Main -->
    <div class="flex flex-auto p-6 sm:p-10">
        <div class="flex flex-col flex-auto w-full max-w-xs sm:max-w-5xl mx-auto">


            <!-- Filtros -->
            <div class="flex flex-col sm:flex-row items-center justify-between w-full max-w-xs sm:max-w-none">

                <mat-form-field class="fuse-mat-no-subscript w-full sm:w-72 mt-4 sm:mt-0 sm:ml-4"
                    [floatLabel]="'always'">
                    <input (input)="filtrarPorNombre(query.value)"
                        placeholder="Buscar"
                        matInput
                        #query />
                </mat-form-field>

                <button class="mt-8 sm:mt-0 sm:ml-auto"
                    mat-flat-button
                    [color]="'primary'"
                    (click)="agregarCampana()">
                    <span class="hidden sm:inline-block ml-2">Nueva Campaña</span>
                </button>
            </div>


            <!-- Campanas -->
            <ng-container *ngIf="(campanas$ | async) as campanas">
                <ng-container *ngIf="campanas.length">
                    <div class="grid grid-cols-3 sm:grid-cols-1 lg:grid-cols-3 gap-8 mt-8 sm:mt-10">
                        <ng-container *ngFor="let campana of campanas; trackBy: trackByFn">
                            <div class="flex flex-col shadow rounded-2xl overflow-hidden bg-card">
                                <div class="mt-3 p-3 sm:pr-5 pl-6 sm:pl-8">
                                    <div class="text-lg font-medium">
                                        {{ campana.nombre }}
                                    </div>
                                    <div class="text-sm mt-2">
                                        Fecha límite: {{ campana.fechaLimite | date }}
                                    </div>
                                    <div class="mt-4 space-y-2">
                                        <div class="flex">
                                            <mat-icon [ngClass]="{'icon-size-5 text-green-600' : campana.estado > 1,
                                                                'icon-size-5 text-gray-200' : campana.estado < 2}"
                                                [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                            <div class="ml-2 leading-5">Evaluadores definidos</div>
                                        </div>
                                        <div class="flex">
                                            <mat-icon [ngClass]="{'icon-size-5 text-green-600' : campana.estado > 2,
                                                'icon-size-5 text-gray-200' : campana.estado < 3}"
                                                [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                            <div class="ml-2 leading-5">Correos despachados</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-col w-full mt-auto">
                                    <div class="relative h-0.5">
                                        <div class="z-10 absolute inset-x-0 h-6 -mt-3"
                                            [matTooltip]="test"
                                            [matTooltipPosition]="'above'"
                                            [matTooltipClass]="'-mb-0.5'"></div>
                                        <mat-progress-bar class="h-0.5"
                                            [value]="campana.estado * 20"></mat-progress-bar>
                                    </div>
                                    <div class="px-6 py-4 text-right bg-gray-50 dark:bg-transparent">
                                        <button mat-stroked-button
                                            (click)="continuarCampana(campana)">
                                            <span class="inline-flex items-center">

                                                <!-- Started -->
                                                <ng-container *ngIf="campana.estado == 1">
                                                    <span>Definir evaluadores</span>
                                                </ng-container>

                                                <ng-container *ngIf="campana.estado == 2">
                                                    <span>Despachar correos</span>
                                                </ng-container>

                                                <ng-container *ngIf="campana.estado == 3">
                                                    <span>Cerrar encuesta</span>
                                                </ng-container>

                                                <mat-icon class="ml-1.5 icon-size-5"
                                                    [svgIcon]="'heroicons_solid:arrow-sm-right'"></mat-icon>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </ng-container>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>

</div>