<mat-expansion-panel class="bg-red-100 bg-opacity-20 dark:bg-transparent dark:border">

    <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-icon class="text-primary"
                matTooltip="Está registrado como evaluador de este servicio"
                *ngIf="esEvaluador"
                [svgIcon]="'heroicons_solid:check-circle'"></mat-icon>

            {{ servicio.nombre }}
        </mat-panel-title>
        <mat-panel-description>
            {{servicio.responsable?.name || 'sin responsable'}}
        </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="pl-6 pb-4">
        <div class="mt-4 space-y-2">
            <div class="flex">
                <mat-icon class="icon-size-5 text-green-600"
                    [svgIcon]="'heroicons_solid:check'"></mat-icon>
                <div class="ml-2 leading-5"><b>{{servicio.definidos?.length || '0'}}</b> Evaluadores definidos</div>
            </div>
            <div class="flex">
                <mat-icon class="icon-size-5 text-green-600"
                    [svgIcon]="'heroicons_solid:check'"></mat-icon>
                <div class="ml-2 leading-5"><b>{{servicio.ascritos?.length || '0'}}</b> Suscritos</div>
            </div>

        </div>
    </div>

    <mat-action-row>
        <button class="ml-auto"
            matTooltip="Registrarse como evaluador de este servicio"
            *ngIf="puedeSuscribirse"
            (click)="subscribirse()"
            mat-icon-button>
            <mat-icon [svgIcon]="'heroicons_outline:clipboard-check'"></mat-icon>
        </button>

        <button class="ml-auto"
            mat-icon-button
            [matMenuTriggerFor]="conversationHeaderMenu">
            <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
            <mat-menu #conversationHeaderMenu>
                <button (click)="evaluadores()"
                    mat-menu-item>
                    <mat-icon [svgIcon]="'heroicons_outline:user-add'"></mat-icon>
                    Evaluadores
                </button>
                <button (click)="editar()"
                    mat-menu-item>
                    <mat-icon [svgIcon]="'heroicons_outline:pencil'"></mat-icon>
                    Editar
                </button>
                <button (click)="eliminar()"
                    mat-menu-item>
                    <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                    Eliminar
                </button>
            </mat-menu>
        </button>
    </mat-action-row>
</mat-expansion-panel>