<div *ngIf="esEvaluador"
    class="absolute bottom-0 right-0 w-24 h-24 -m-6">
    <mat-icon class="icon-size-24 opacity-25 text-green-500 dark:text-green-400"
        [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
</div>

<div class="flex items-center">

    <div class="flex flex-col p-3">
        <div class="text-lg font-medium">Servicio: {{ servicio.nombre }}</div>
        <div class="font-medium text-sm">
            ({{servicio.responsable?.name || 'sin responsable'}})
        </div>
    </div>

    <div class="ml-auto -mt-2">


        <button class="ml-auto"
            mat-icon-button
            [matMenuTriggerFor]="conversationHeaderMenu">
            <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
            <mat-menu #conversationHeaderMenu>


                <button matTooltip="Registrarse como evaluador de este servicio"
                    *ngIf="puedeSuscribirse"
                    (click)="subscribirse()"
                    mat-menu-item>
                    <mat-icon [svgIcon]="'heroicons_outline:clipboard-check'"></mat-icon>
                    Subscribirse
                </button>

                <button (click)="evaluadores()"
                    mat-menu-item>
                    <mat-icon [svgIcon]="'heroicons_outline:user-add'"></mat-icon>
                    Evaluadores
                </button>
                <button (click)="editar()"
                    mat-menu-item>
                    <mat-icon [svgIcon]="'heroicons_outline:pencil'"></mat-icon>
                    Editar
                </button>
                <button (click)="eliminar()"
                    mat-menu-item>
                    <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                    Eliminar
                </button>
            </mat-menu>
        </button>
    </div>
</div>
<div class="pl-6 pb-4">
    <div class="mt-4 space-y-2">
        <div class="flex">
            <mat-icon class="icon-size-5 text-green-600"
                [svgIcon]="'heroicons_solid:check'"></mat-icon>
            <div class="ml-2 leading-5"><b>{{servicio.definidos?.length || '0'}}</b> Evaluadores definidos</div>
        </div>
        <div class="flex">
            <mat-icon class="icon-size-5 text-green-600"
                [svgIcon]="'heroicons_solid:check'"></mat-icon>
            <div class="ml-2 leading-5"><b>{{servicio.ascritos?.length || '0'}}</b> Suscritos</div>
        </div>

    </div>
</div>