<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto"
    cdkScrollable>
    <div class="relative flex-0 py-8 px-4 sm:p-16 overflow-hidden bg-gray-800 dark">
        <div class="z-10 relative flex flex-col items-center">
            <div class="mt-1 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">
                Gerencias
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto p-6 sm:p-10">
        <div class="flex flex-col flex-auto w-full max-w-xs sm:max-w-5xl mx-auto">
            <!-- Filtros -->
            <div class="flex flex-col sm:flex-row items-center justify-between w-full max-w-xs sm:max-w-none">
                <mat-form-field class="fuse-mat-no-subscript w-full sm:w-36">
                    <mat-select [value]="'todas'"
                        (selectionChange)="filtrarPorEmpresa($event)">
                        <mat-option [value]="'todas'">Empresas</mat-option>
                        <mat-option [value]="'bci'">Bci Seguros</mat-option>
                        <mat-option [value]="'zenit'">Zenit</mat-option>
                        <mat-option [value]="'vida'">Bci Vida</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="fuse-mat-no-subscript w-full sm:w-72 mt-4 sm:mt-0 sm:ml-4"
                    [floatLabel]="'always'">
                    <input (input)="filtrarPorNombre(query.value)"
                        placeholder="Buscar"
                        matInput
                        #query />
                </mat-form-field>

                <button class="mt-8 sm:mt-0 sm:ml-auto"
                    *ngIf="user?.rol == 'admin'"
                    mat-flat-button
                    [color]="'primary'"
                    (click)="agregarGerencia()">
                    <span class="hidden sm:inline-block ml-2">Nueva Gerencia</span>
                </button>
            </div>

            <!-- Gerencias -->
            <ng-container *ngIf="gerencias$ | async as gerencias; else loading">
                <ng-container *ngIf="gerencias.length; else noGerencias">
                    <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-1 gap-8 mt-8 sm:mt-10">
                        <ng-container *ngFor="let gerencia of gerencias; trackBy: trackByFn">
                            <!-- Gerencia -->
                            <div class="flex flex-col shadow rounded-2xl overflow-hidden bg-card">




                                <!-- Body -->
                                <div class="flex flex-col p-6">

                                    <div class="flex items-center justify-between">
                                        <!-- Course category -->
                                        <div class="py-0.5 px-3 rounded-full text-sm font-semibold"
                                            [ngClass]="{'text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500': gerencia.empresa === 'bci',
                                                            'text-green-800 bg-green-100 dark:text-green-50 dark:bg-green-500': gerencia.empresa === 'zenit',
                                                            'text-pink-800 bg-pink-100 dark:text-pink-50 dark:bg-pink-500': gerencia.empresa === 'vida',
                                                            'text-amber-800 bg-amber-100 dark:text-amber-50 dark:bg-amber-500': gerencia.empresa === ''}">
                                            {{gerencia.empresa}}
                                        </div>
                                        <!-- Completed at least once -->
                                        <div class="flex items-center">

                                        </div>
                                    </div>

                                    <div class="mt-4 text-lg font-medium">
                                        <div>
                                            <span class="text-primary-700 text-sm">
                                                Gerencia:
                                            </span>
                                            {{ gerencia.nombre }}
                                        </div>
                                        <div>
                                            <span class="text-primary-700 text-sm">
                                                Responsable:
                                            </span>
                                            {{gerencia.responsable?.name}}
                                        </div>
                                    </div>

                                    <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-8">
                                        <ng-container *ngFor="let subg of gerencia.subgerencias; let i = index">
                                            <div class="mb-5 mt-1 p-1 border shadow rounded-sm">
                                                <div class="group flex items-center">
                                                    <div>
                                                        <span class="text-primary-600 text-sm">
                                                            Subgerencia:
                                                        </span>
                                                        {{ subg.nombre }}
                                                    </div>


                                                    <mat-icon *ngIf="user?.rol == 'admin'"
                                                        (click)="editarSubgerencia(gerencia,i)"
                                                        class="hidden group-hover:flex ml-auto icon-size-5 cursor-pointer"
                                                        [svgIcon]="'heroicons_solid:pencil'">
                                                    </mat-icon>

                                                </div>
                                                <div>
                                                    <span class="text-primary-600 text-sm">
                                                        Responsable:
                                                    </span>
                                                    {{ subg.responsable?.name }}
                                                </div>

                                                <!-- areas -->
                                                <div class="mt-2 p-2">
                                                    <ng-container *ngFor="let area of subg.areas;let ia = index">
                                                        <div class="mt-1 mb-4 p-2 border">
                                                            <div class="group flex items-center">
                                                                <div>
                                                                    <span class="text-primary-500 text-sm">
                                                                        área:
                                                                    </span>
                                                                    {{area.nombre}}
                                                                </div>
                                                                <mat-icon class="hidden group-hover:flex ml-auto icon-size-5 cursor-pointer"
                                                                    [svgIcon]="'heroicons_solid:pencil'"
                                                                    (click)="editarArea(gerencia,i,ia)">
                                                                </mat-icon>
                                                            </div>
                                                            <div>
                                                                <span class="text-primary-500 text-sm">
                                                                    Responsable:
                                                                </span>
                                                                {{ area.responsable?.name }}
                                                            </div>

                                                            <!-- servicios -->
                                                            <ng-container *ngFor="let servicio of area.servicios; let ias = index">
                                                                <div class="mt-1 p-1 border">
                                                                    <div class="group flex justify-between">
                                                                        <div>
                                                                            <span class="text-primary-400 text-sm">
                                                                                servicio:
                                                                            </span>
                                                                            {{servicio.nombre}}
                                                                        </div>
                                                                        <div class="group flex justify-end">
                                                                            <mat-icon (click)="editarServicio(gerencia,i,ia,ias)"
                                                                                class="hidden group-hover:flex ml-auto icon-size-5 cursor-pointer"
                                                                                [svgIcon]="'heroicons_solid:pencil'">
                                                                            </mat-icon>
                                                                            <mat-icon (click)="subscribirse(gerencia,i,ia,ias)"
                                                                                class="flex ml-auto icon-size-5 cursor-pointer"
                                                                                [svgIcon]="'heroicons_solid:user-add'">
                                                                            </mat-icon>
                                                                        </div>
                                                                    </div>
                                                                    <ng-container *ngIf="servicio.tipo">
                                                                        <div>
                                                                            <span class="text-primary-300 text-sm">
                                                                                tipo:
                                                                            </span>
                                                                            {{servicio.tipo}}
                                                                        </div>
                                                                    </ng-container>
                                                                    <ng-container *ngIf="servicio.responsable">
                                                                        <div>
                                                                            <span class="text-primary-300 text-sm">
                                                                                responsable:
                                                                            </span>
                                                                            {{servicio.responsable.name}}
                                                                        </div>
                                                                    </ng-container>
                                                                    <ng-container *ngIf="servicio.equipo && servicio.equipo.length && servicio.equipo.length > 0">
                                                                        <div>
                                                                            <span class="text-primary-200 text-sm">
                                                                                evaluadores:
                                                                            </span>
                                                                            <mat-chip-list>
                                                                                <mat-chip *ngFor="let miembro of servicio.equipo">
                                                                                    {{miembro.name}}
                                                                                </mat-chip>
                                                                            </mat-chip-list>
                                                                        </div>
                                                                    </ng-container>

                                                                    <ng-container *ngIf="servicio.ascritos && servicio.ascritos.length && servicio.ascritos.length > 0">
                                                                        <div>
                                                                            <span class="text-primary-200 text-sm">
                                                                                suscritos:
                                                                            </span>
                                                                            <mat-chip-list>
                                                                                <mat-chip *ngFor="let miembro of servicio.ascritos">
                                                                                    {{miembro.name}}
                                                                                </mat-chip>
                                                                            </mat-chip-list>
                                                                        </div>
                                                                    </ng-container>
                                                                </div>
                                                            </ng-container>
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>

                                <!-- Footer -->
                                <div class="flex flex-col w-full mt-auto">
                                    <div class="px-6 py-4 text-right bg-gray-50 dark:bg-transparent">
                                        <button mat-stroked-button
                                            [color]="'primary'"
                                            (click)="editarGerencia(gerencia)">
                                            <span class="inline-flex items-center">
                                                <span>Editar Gerencia</span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </ng-container>

            <ng-template #loading>
                <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
                    <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">
                        Procesando...
                    </div>
                </div>
            </ng-template>

            <ng-template #noGerencias>
                <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
                    <mat-icon class="icon-size-20"
                        [svgIcon]="'iconsmind:file_search'"></mat-icon>
                    <div class="mt-6 text-2xl font-semibold tracking-tight text-secondary">
                        Aún no se han registrado gerencias
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>